@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans:wght@200;300;400;500&family=Libre+Baskerville&family=Play&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html{
    font-family: "CircularSp";
  }
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* @media  (min-width: 768px) {
    .component{
      width: 750px;
    }
  }
  @media  (min-width: 992px) {
    .component{
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .component{
      width: 1170px;
    }
  } */
    /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777474;
}
  }
